@page "/"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using No_Kill_Inventory.Data
@inject ApplicationDbContext Context
@rendermode InteractiveServer

@attribute [Authorize]

<style>
    table {
        border-collapse: collapse;
        width: 100%; 
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <h1>Hello, @context.User.Identity.Name</h1>

    The current inventory is below
    
    <div>
        <table>
            <h2>Dog</h2>
            <tr>
                <th>Type</th>
                <th>Weight</th>
            </tr>
            @foreach (var item in Context.DogItems)
            {
                <tr>
                    <td>@item.Type</td>
                    <td>@item.Weight</td>
                </tr>
            }
        </table>
    </div>
    <div>
        <table>
            <h2>Cat</h2>
            <tr>
                <th>Type</th>
                <th>Weight</th>
            </tr>
                @foreach (var item in Context.CatItems)
                {
                    <tr>
                        <td>@item.Type</td>
                        <td>@item.Weight</td>
                    </tr>
                }
        </table>
    </div>
    <div>
        <table>
            <h2>Other</h2>
            <tr>
                <th>Type</th>
                <th>Description</th>
                <th>Weight</th>
                <th>Remove</th>
            </tr>
                @foreach (var item in Context.OtherItems)
                {
                    <tr>
                        <td>@item.Animal</td>
                        <td>@item.Desc</td>
                        <td>@item.Weight</td>
                        <td><button type="button" @onclick="(async () => await DeleteItem(item.ItemID))">Delete</button></td>
                    </tr>
                }
        </table>
    </div>
</AuthorizeView>

@code {
    private async Task DeleteItem(int ItemID)
    {
        var item = await Context.OtherItems.FindAsync(ItemID);
        
        using (var context = new ApplicationDbContext(new DbContextOptions<ApplicationDbContext>()))
        {
            context.OtherItems.Remove(item);
            await context.SaveChangesAsync();
        }
    }
}